@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;;
}

html{
    font-size: 32px;
}

:root{
    --White: hsl(0, 100%, 100%);
    --Grey-100: hsl(0, 0%, 94%);
    --Grey-200: hsl(0, 0%, 86%);
    --Grey-400: hsl(0, 1%, 65%);
    --Grey-500: hsl(0, 1%, 44%);
    --Black: hsl(0, 0%, 0%);
    --Purple-500: hsl(259, 100%, 65%);
    --Red-400: hsl(0, 100%, 67%);
}

body{
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.hide{
    display: none !important;
}

.container{
    width: 850px;
    background-color: var(--White);
    padding: 40px 70px;
    border-radius: 20px;
    border-bottom-right-radius: 200px;
}

.clear{
    margin-bottom: 30px;
    text-align: right;
    font-size: .5rem;
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 4px;
    color: var(--Red-400);
    cursor: pointer;
    text-transform: uppercase;
}
.inputs{
    display: flex;
    gap: 40px;
    margin-bottom: 30px;
}

.inputs .field{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.inputs .field label{
    font-size: .5rem;
    color: var(--Grey-500);
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.inputs .field input{
    border: 1px solid var(--Grey-200);
    outline: none;
    background: transparent;
    width: 160px;
    height: 70px;
    padding: 15px;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 8px;
    color: var(--Grey-500);
}

.inputs .field input::placeholder{
    color: var(--Grey-400);
}

.inputs .field input:focus{
    border-color: var(--Purple-500);
}



.error{
    font-size: .4rem;
    font-style: italic;
    color: var(--Red-400);
    font-weight: 500;
    display: block;
}

/* HR and Button */

.button{
    display: flex;
    align-items: center;
}


.button span{
    display: inline-block;
    flex: 1;
    width: 100%;
    height: 2px;
    /* border-color: var(--Grey-100); */
    background-color: var(--Grey-100);
}

.button >div{
    background-color: var(--Purple-500);
    padding: 10px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.result span{
    font-size: 2.5rem;
    font-weight: 800;
    font-style: italic;
    text-transform: lowercase;
}

.result div span:first-child{
    color: var(--Purple-500);
    letter-spacing: 15px;
}



.detailes{
    margin-top: 20px;
    border-top: 1px dashed var(--Purple-500);
    padding-top: 20px;
}

.detailes p{
    font-size: .6rem;
    margin-bottom: 20px;
    font-style: italic;
}

.detailes > div{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.detailes .age-unite {
    margin-right: 7px;
    font-size: .6rem;
    color: var(--Purple-500);
    font-weight: 600;
}

.detailes > div div{
    font-size: .5rem;
    position: relative;
    display: flex;
    align-items: center;
    color: var(--Grey-500);
    
}

.detailes > div div:not(:last-child)::after{
    content: "";
    width: 2px;
    height: 60%;
    background-color: var(--Black);
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width:654px) {
    body .container{
        width: 95%;
        padding: 40px 20px;
    }

    .container .inputs{
        gap: 10px;
    }

    .container .inputs .field input {
        width: 100%;
    }

    .container .button{
        position: relative;
        margin: 75px auto 50px auto;
    }

    .container .button > div{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .result span{
        font-size: 2rem;
    }

    .detailes > div{
        width: 90%;
    }
}


